*{
    --width: 500px;
    --table-padding: 500px;
}
.title{
    display: flex;
    gap:5px;
}
.title h4.active{
   background-color: rgb(215, 215, 215);
   border: 1px solid gray;
   border-bottom: none;
}
.title h4{
    align-items: center;
    padding: 10px 14px;
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.title h4:nth-child(1){
    color: #fd474c;
}
.title h4:nth-child(2){
    color: gray;
}
.premium{
    display: flex;
    justify-content:center ;
    margin-top: -8px;
    width: var(--width);
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px solid rgb(178, 178, 178);
}
button{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    background-color: rgb(48, 215, 48);
    color: white;
}
.download{
    width: var(--width);
    min-height: 100px;
    border:1px solid rgb(178, 178, 178);
    border-top: none;
}
.download thead, .download tbody{
    border-top: 1px solid gray;
}
.download thead tr, .download tbody tr{
  height: 50px;
}
.download thead tr th, .download tbody tr td{
    border-right: 1px solid gray;
}
.center{
    display: flex;
    justify-content: center;
}